body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #333;
}
.navbar-brand, .nav-link {
    color: white !important;
}
.content-section {
    padding: 4rem 0;
}
.footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.gallery-img {
    max-height: 430px;
    object-fit: cover;
    border-radius: 50px;
}
.about {
    max-height: 430px;
    object-fit: cover;
    border-radius: 50px;
}